.typing-text-container {
  display: inline-block;
  position: relative;
  margin-bottom: 10rem;
}

.typing-text {
  display: inline-block;
  font-size: 9rem;
  font-weight: 900;
  color: white;
  transition: font-size 0.5s ease-in-out;
}

.blinking-cursor {
  display: inline-block;
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  color: white;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .typing-text-container {
    margin-bottom: 5rem;
  }

  .typing-text {
    font-size: 4rem;
    animation-duration: 0.5s;
  }
  .blinking-cursor {
    font-size: 50px;
  }
}
